.app-ship-container {
    .empty-placeholder {
        text-align: center;

        img {
            display: block;
            margin: auto;
            margin-bottom: 20px;
            opacity: .2;
            width: 40px;
        }
    }
}