// --> Body
$body-bg: #e5e5e5;

// --> Color
$col-primary: #00d1af;
$col-highlight: rgba( 255, 255, 255, .05 );
$col-font-basic: #6c6c6c;
$col-font-highlight: white;
$col-font-darklight: #111;

// --> Padding
$pad-xsmall: 6px;
$pad-small: 10px;
$pad-normal: 20px;
$pad-big: 30px;
$pad-large: 40px;
$pad-xlarge: 80x;

// --> Font size
$font-size-base: 16px;
$font-size-h0: 80px;
$font-size-h1: 60px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-h4: 25px;
$font-size-h5: 21px;
$font-size-h6: 17px;
$font-size-h7: 14px;
$font-size-h8: 12px;
$font-size-h9: 10px;